nav {
  background-color: #cab5b5;
  color: rgb(215, 186, 186);
  padding: 10px 0;
}

nav h1 {
  margin: 10px;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.product {
  /* background-color: #d39ed7; */
  border: 1px solid #681b1b;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  width: 410px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.pic{
  height: 150px;
  width: 200px;
}
.footer{
  margin-left: 500px;
}
.search{
  /* padding: 50px;
  width: 200px; */
  margin-left: 500px;
  margin-top: 20px;
  
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: #185ba2;
}
 
