.App {
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  nav h1 {
    margin: 0;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .product {
    background-color: #d39ed7;
    border: 1px solid #c41f1f;
    border-radius: 5px;
    padding: 40px;
    margin: 50px;
    width: 20px;
    height: 10px;
  }
  
  .Image{
    height: 150px;
    width: 200px;
  }
  
  input[type="text"] {
    padding: 5px;
    width: 200px;
    margin-right: 10px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #185ba2;
  }